h2{
    color: rgba(71, 31, 79, 0.806);
}

.menu{
   display: inline-block; /* deixa lado a lado */
    padding: 10px 20px; /*  */
    background-color: rgba(90, 24, 108, 0.854);
    border-radius: 10px;
    cursor: pointer;
}
.menu:houver{
    background-color: rgb(196, 142, 246);
    
}